.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.Arrow:first-of-type {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.Arrow:last-of-type {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}